*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Roboto", sans-serif;
}

.header{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-weight: 600;
    text-transform: uppercase;
}

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:24px;
}

.calculator-container{
    background-color: #323232;
    border-radius: 20px;
    box-shadow: 4px;
}

.rows{
    display: flex;
    gap: 16px;
}

.btn{
    width: 64px;
    height: 64px;
    margin: 15px;
    font-size: 30px;
    background-color: rgb(111, 111, 111);
    color: white;
}

.btn:hover{
    transform: translateY(-0.2rem);
    transition: all 250ms ease-in-out;
}

.decimal{
    border: 1px solid;
}
.decimal:hover{
    background-color: gold;
}
.operator{
    border: 1px solid slateblue;
}
.operator:hover{
    background-color: slateblue;
}
.number{
    border: 1px solid black;
}
.number:hover{
    background-color: black;
    color: white;
}
.equal{
    border: 1px solid gold;
}
.equal:hover{
    background-color: gold;
    color: black;
}
#clear{
    border: 1px solid purple;
}
#clear:hover{
    background-color: purple;
}

#screen{
    width: 300px;
    border: 1px solid black;
    height: 64px;
    margin: 15px;
    padding-right: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: gray;
}

.first-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.first{
    font-size: 14px;
    color: white;
}

.second{
    font-size: 24px;
    color: white;
}

