*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Roboto", sans-serif;
}

.header{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-weight: 600;
    text-transform: uppercase;
}

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:24px
}

.rows{
    display: flex;
    gap: 16px;
}

.btn{
    width: 64px;
    height: 64px;
    margin: 15px;
    font-size: 24px;
}

.decimal{
    border: 1px solid gold;
}
.decimal:hover{
    background-color: gold;
}
.operator{
    border: 1px solid slateblue;
}
.operator:hover{
    background-color: slateblue;
}
.number{
    border: 1px solid black;
}
.number:hover{
    background-color: black;
    color: white;
}
.equal{
    border: 1px solid darkmagenta;
}
.equal:hover{
    background-color: darkmagenta;
    color: white;
}
.clear{
    border: 1px solid purple;
}
.clear:hover{
    background-color: purple;
}

#screen{
    width: 300px;
    border: 1px solid black;
    height: 64px;
    margin: 15px;
}

.first-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}